<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530624009783-q3f1dplsjgde6rq33dk1l0m7u28gjhhi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530624009783-q3f1dplsjgde6rq33dk1l0m7u28gjhhi</string>
	<key>API_KEY</key>
	<string>AIzaSyAGGAGEVrGjNSLRWSVdashpbHh2EKfPdKo</string>
	<key>GCM_SENDER_ID</key>
	<string>530624009783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.songBook</string>
	<key>PROJECT_ID</key>
	<string>song-book-83ea4</string>
	<key>STORAGE_BUCKET</key>
	<string>song-book-83ea4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530624009783:ios:199cadcc73795d7158d1b2</string>
</dict>
</plist>